.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.BuildControl button {
	display: block;
	padding: 5px;
	margin: 5px;
	width: 80px;
	border: none;
	border-radius: 5px;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}
.BuildControl .MoreBtn {
	background-color: cyan;
}
.BuildControl .LessBtn {
	background-color: maroon;
	color: white;
}


.BuildControl > div {
	min-width: 70px;
}