.Input {
	width: 100%;
	padding: 5px 0;
	label {
		font-weight: bold;
		display: block;
		margin: 5px 0;
	}
	.InputElement {
		outline: none;
		border: 1px solid grey;
		padding: 5px;
		display: block;
		margin: 0 auto;
		width: 75%;
		background-color: white;
		&:focus {
			background-color: lightgrey;
		}
	}
}